.quote-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
}

.quote{
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0;
    font-size: 5em;
    padding: 0.4em 0.8em;
    text-align: center
}

@media (max-width: 500px) {
    .quote{
        font-size: 3em;
    }
}
