html, body {
  height: 100%;
  background: black;
  color: white;
  margin: 0;
  padding: 0; }

a {
  color: white; }

.quote-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh; }

.quote {
  font-family: 'ZCOOL KuaiLe', cursive;
  margin: 0;
  font-size: 5em;
  padding: 0.4em 0.8em;
  text-align: center; }

@media (max-width: 500px) {
  .quote {
    font-size: 3em; } }

footer {
  position: absolute;
  bottom: 0px;
  letter-spacing: 1.2px;
  font-size: 0.7em;
  color: #cecdcd;
  width: 100vw;
  text-align: center;
  font-family: 'Lato', sans-serif; }
  footer a {
    color: #cecdcd; }

.progress-bar {
  width: 0;
  position: relative;
  border-radius: 60px;
  overflow: hidden;
  margin: 0 auto;
  animation: progress forwards linear 8s;
  padding: 1px;
  background-color: #fff;
  color: #fff; }

@keyframes progress {
  from {
    background-color: red;
    width: 0px; }
  to {
    background-color: yellow;
    width: 150px; } }
